<!doctype html>
<html lang="en">
  <head>
    <title>List of domains</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body style="max-width: 800px; margin: 0 auto; padding: 16px;">

<h1>Performance per domain</h1>

<p>The following domains are currently tracked:</p>

<ul>
  {{range $domain, $results := .}}
    <li><a href="{{$domain}}">{{$domain}}</a></li>
  {{end}}
</ul>

</body>
</html>
